---
layout: page
title: "About"
description: "Hey, this is Max."
header-img: "img/post-bg-unix-linux.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        写写代码，看看产品，做做设计。
    </blockquote>

    <p>程序员，现就职于<a href="https://www.thoughtworks.com/">ThoughtWorks</a>。</p>

    <p>研究生，2015年毕业于<a href="http://www.manchester.ac.uk" target="_blank">The University of Manchester </a> 计算机学院， 获得MSc学位。本科毕业于西安交通大学计算机科学与技术专业。学的东西杂七杂八，主要集中在Java软件开发。</p>

    <p>产品狗，热衷于 Web & Mobile 产品。喜爱一切新兴事物。</p>

    <p>人类，热爱锻炼打球游泳 ，也爱好Video Game，没事泡泡社交网络，刷刷微博知乎</p>

    <p>哦对了，我叫<b>胡智</b>

    <hr>
    附上认真版的简历:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_HUZhi_DEV_cn.pdf"> 2015_HUZhi_DEV_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_HUZhi_DEV_en.pdf"> 2015_HUZhi_DEV_en </a></li>
    </ul>

    一些期待成为的角色:
    <ul>
        <li> Full Stack Developer </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> Front-end Developer</li>
    </ul>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>Programmer, working in <a href="https://www.thoughtworks.com/">Thoughtworks</a>.</p>

    <p>Master, graduated  from the School of Computer Science in<a href="http://www.manchester.ac.uk" target="_blank">The University of Manchester</a>and got the Master of Science degree. The bachelor degree was got from Xi'an Jiaotong Unviersity and the major is computer science and technology.</p>

    <p>Product Design and Program Management is also attractive and comfortable to me.</p>

    <p>My Chinese name is <b>Zhi HU</b>, you can call me English name <b>Max</b>.</p>

    <hr>
    Interested in more details? Just checkout my resumes:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_HUZhi_DEV_cn.pdf"> 2015_HUZhi_DEV_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_HUZhi_DEV_en.pdf"> 2015_HUZhi_DEV_en </a></li>
    </ul>

    My dream position include:
    <ul>
        <li> Full Stack Developer </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> Front-end Developer</li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread"
        {% if site.duoshuo_username == "huxblog" %}
            data-thread-id="1187623191091085319"
        {% else %}
            data-thread-key="{{site.duoshuo_username}}/about"
        {% endif %}

        data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
    </div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
